*{
  font-family: Montserrat, sans-serif;
}
.section-wrap{
  max-width: 910px;
  margin: 0 auto;
  padding-top: 100px;
}
@media screen and (max-width: 600px) {
  .section-wrap{
    padding-top: 3%;
  }
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.element_paragraph{
  color: #9aa0ab;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.point-color{
  display: inline-block;
  font-family: serif;
  color: #fa5c65;
}
@mixin font-link-color{
  font:{
  family: "Open Sans", sans-serif;
  }
  color: #fa5c65;
}