.snippets-wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 80px;
}
.snippets-element{
  display: inline-block;
  width: 30%;
  padding-right: 25px;
}
.snippets-element__title{
  color: #465065;
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.snippets-element__title_pr{
  padding-right: 50%;
}
.snippets-element__link{
  display: flex;
  justify-content: end;
  padding-top: 25px;
  color: #f3686d;
  text-transform: uppercase;
  font-weight: 700;

  &::after {
    content: url("../img/snippets/arrow.png");
    width: 19px;
    height: 9px;
    color: #f3686d;
    padding-left: 5px;
  }
}
.snippets-element__link_position{
  display: block;
  text-align: end;
}
@media screen and (max-width: 940px) {
  .snippets-wrap{
    padding: 2%;
  }
}
@media screen and (max-width: 768px) {
  .snippets-element {
    width: 50%;
    padding: 2%;
  }
  .snippets-element__link {
    padding-top: 0;
  }
}
@media screen and (max-width: 480px) {
  .snippets-element {
    margin: 0 auto;
    width: 80%;
  }
  .snippets-element__title_pr{
    padding-right: 80%;
  }
}