.team-wrapper{
  padding-bottom: 40px;
}
.team-element-wrap{
  display: flex;
  padding-top: 50px;
  flex-wrap: wrap;
  margin: 0 auto;
}
.team-element{
  display: flex;
  padding: 5px;
  width: 300px;
}
.team-element__foto{
  padding-right: 4%;
}
.team-element__text_wrap{
  display: flex;
  flex-direction: column;
}
.team-element__title {
  color: #314a5b;
  font-family: Montserrat,sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 53.86px;
  text-transform: uppercase;
  /* Text style for "J, oey" */
  letter-spacing: -0.33px;
}
.team-element__status{
  color: #f0454c;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.team-element__text{
  padding-top: 10px;
}
.element__link_right{
  float: right;
  padding-top: 20px;
}
@media screen and (max-width: 940px) {
  .team-wrapper{
    //text-align: left;
    padding-top: 0;
    padding-left: 5%;
  }
  .team-element{
    padding-top: 2%;
    width: 50%;
    margin: 0 auto;
  }
  .snippets-element__link_position{
    padding-right: 5%;
  }
}
@media screen and (max-width: 740px) {
  .team-element-wrap{
    padding-top: 0;
  }
  .team-element{
    width: 90%;
    padding-left: 10%;
  }
}
@media screen and (max-width: 480px) {
  .team-wrapper {
    padding-top: 2%;
  }
  .team-element{
    padding: 0;
    padding-top: 2%;
    }

}